@import "src/mixins";
.videos-list {
  padding-bottom: 1px;
}

.img-wrapper {
  @include flexMixin($justify: center);
  width: 160px;

  img {
    max-width: 150px;
    max-height: 100px;
  }
}

.videos-category-list {
  @include flexMixin($justify: flex-start);
  margin: 20px;
  cursor: pointer;

  .description {
    margin: 0 50px;
  }
}

.paginator {
  max-width: 550px;
  margin: auto;

  li {
    margin-bottom: 5px;
    list-style-type: none;
  }
}
