<div class="wrapper">
  <div class="videos-list">
    <h1>Category: {{(videosCategoryInfo$| async)?.name}}</h1>
    <button mat-icon-button (click)="chipsDropdown()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-chip-list  class="categories_chips" *ngIf="(videosCategoryInfo$ | async)?.genres && isChipsNotHidden">
      <div *ngFor="let genre of (videosCategoryInfo$ | async)?.genres">
        <app-chips
          [category]="genre"
          (selectedCategory)="changeCategory($event)"></app-chips>
      </div>
    </mat-chip-list>
      <mat-card class="videos-category-list" *ngFor="let videoCard of (videosListInfo$ | async)?.videos">
        <div class="img-wrapper">
          <img [src]="!!videoCard.cover ? videoCard.cover : videoCard.art">
        </div>
        <div class="description">
          <p>{{videoCard.name}}</p>
          <p *ngIf="videoCard.countries.length"><strong>Country: </strong>{{videoCard.countries}}</p>
          <p *ngIf="videoCard.year"><strong>Year: </strong>{{videoCard.year}}</p>
        </div>
      </mat-card>
  </div>
</div>
