@import "src/mixins";

.tvshow_info {
  @include flexMixin($direction: column);

  position: sticky;
  top: 6vh;
  max-width: 450px;
  max-height: 580px;
  min-width: 450px;
  min-height: 300px;
  width: 100%;
  overflow: hidden;

  .spinner {
    align-items: center;
    margin: auto;
  }

  h2 {
    @include fontMediumBold();
    max-width: 420px;
  }


  .close_btn {
    position: absolute;
    right: 16px;
    cursor: pointer;
  }

  .pictures {
    @include flexMixin($justify: center);

    .video_logo {
      width: 150px;
      height: 150px;
      border-radius: 10%;
    }

    .video_art {
      height: 150px;
      width: 100%;
      margin-left: 10px;
      border-radius: 10px;
    }
  }

  .video_description {
    margin: 10px auto;
    overflow-y: scroll;
    height: 14vh;
    min-width: 450px;
  }

  .videoplayer {
    height: 100%;
    width: 100%;
    @include flexMixin($justify: center, $direction: column);
  }
}
