@import "src/mixins";

%flex-between {
  @include flexMixin();
}

.tvshow_card {
  max-width: 400px;
  margin-bottom: 10px;
  cursor: pointer;

  .show_title {
    @extend %flex-between;
  }

  .live {
    @include tvLiveStatus();
  }

  .recording {
    @include tvLiveStatus(green);
  }

  mat-progress-bar {
    width: 200px;
    margin: 0 10px;
  }

  .ether_time {
    @extend %flex-between;
  }
}
