<mat-slide-toggle (change)="changeForm($event)">{{formType}}</mat-slide-toggle>
<!--Sign In form group-->
<form [formGroup]="loginForm" class="mat-form" (submit)="onLoginSubmit()" *ngIf="!isAuthFormType">
  <mat-form-field class="form-field">
    <mat-label for="loginID">Login: </mat-label>
    <input matInput type="text" id="loginID" formControlName="loginID">
  </mat-form-field>
  <div class="error" *ngIf="loginForm.controls['loginID'].errors?.invalidEmail
      && loginForm.controls['loginID'].touched">Invalid email pattern!</div>
  <div class="error" *ngIf="loginForm.getError('required', 'loginID')
      && loginForm.controls['loginID'].touched">Login field is not required!</div>
  <div class="error" *ngIf="loginForm.getError('minlength', 'loginID')
      && loginForm.controls['loginID'].touched">Login must be higher 10 symbols!</div>
  <div class="error" *ngIf="loginForm.getError('maxlength', 'loginID')
      && loginForm.controls['loginID'].touched">Login must be less 25 symbols!</div>
  <div class="error" *ngIf="loginForm.controls['loginID'].errors?.error">This user does not exist!</div>

  <mat-form-field class="form-field">
    <mat-label for="passwordID">Password: </mat-label>
    <input matInput type="text" id="passwordID" formControlName="passwordID">
  </mat-form-field>
  <div class="error" *ngIf="loginForm.getError('required', 'passwordID')
      && loginForm.controls['passwordID'].touched">Password field is not required!</div>
  <div class="error" *ngIf="loginForm.getError('minlength', 'passwordID')
      && loginForm.controls['passwordID'].touched">Password must be higher 6 symbols!</div>
  <div class="error" *ngIf="loginForm.getError('maxlength', 'passwordID')
      && loginForm.controls['passwordID'].touched">Password must be less 15 symbols!</div>
  <div class="error" *ngIf="!isInvalidUserToken">Invalid login or password</div>
  <button mat-raised-button color="primary" type="submit">Sign In</button>
</form>

<!--Sign Up form group-->
<form [formGroup]="registerForm" class="mat-form" (submit)="onRegistrationSubmit()" *ngIf="isAuthFormType">
  <mat-form-field class="form-field">
    <mat-label for="newLoginID">New login: </mat-label>
    <input matInput type="text" id="newLoginID" formControlName="newLoginID">
  </mat-form-field>
  <div class="error" *ngIf="registerForm.controls['newLoginID'].errors?.error">This login already exist.
    Please, use another email to register</div>
  <div class="error" *ngIf="registerForm.controls['newLoginID'].errors?.invalidEmail
      && registerForm.controls['newLoginID'].touched">Invalid email pattern!</div>
  <div class="error" *ngIf="registerForm.getError('required', 'newLoginID')
      && registerForm.controls['newLoginID'].touched">Login field is not required!</div>
  <div class="error" *ngIf="registerForm.getError('minlength', 'newLoginID')
      && registerForm.controls['newLoginID'].touched">Login must be higher 10 symbols!</div>
  <div class="error" *ngIf="registerForm.getError('maxlength', 'newLoginID')
      && registerForm.controls['newLoginID'].touched">Login must be less 25 symbols!</div>

  <mat-form-field class="form-field">
    <mat-label for="passwordID">Password: </mat-label>
    <input matInput type="text" id="newPasswordID" formControlName="newPasswordID">
  </mat-form-field>
  <div class="error" *ngIf="registerForm.getError('required', 'newPasswordID')
      && registerForm.controls['newPasswordID'].touched">Password field is not required!</div>
  <div class="error" *ngIf="registerForm.getError('minlength', 'newPasswordID')
      && registerForm.controls['newPasswordID'].touched">Password must be higher 6 symbols!</div>
  <div class="error" *ngIf="registerForm.getError('maxlength', 'newPasswordID')
      && registerForm.controls['newPasswordID'].touched">Password must be less 15 symbols!</div>

  <mat-form-field class="form-field">
    <mat-label for="repeatPasswordID">Repeat password: </mat-label>
    <input matInput type="text" id="repeatPasswordID" formControlName="repeatPasswordID">
  </mat-form-field>
  <div class="error" *ngIf="registerForm.getError('required', 'repeatPasswordID')
      && registerForm.controls['repeatPasswordID'].touched">RP field is not required!</div>
  <div class="error" *ngIf="registerForm.errors?.compareError
      && registerForm.controls.repeatPasswordID.touched">RP field is not compare with password field!</div>
  <div class="error" *ngIf="registerForm.getError('minlength', 'repeatPasswordID')
      && registerForm.controls['repeatPasswordID'].touched">RP field must be higher 6 symbols!</div>
  <div class="error" *ngIf="registerForm.getError('maxlength', 'repeatPasswordID')
      && registerForm.controls['repeatPasswordID'].touched">RP field must be less 15 symbols!</div>

  <button mat-raised-button color="primary" type="submit">Sign Up</button>
</form>
