<!--<div class="channel_card">-->
<!--  <img src="{{info.logo}}" alt="{{info.name + 'channel logo'}}">-->
<!--  <p>{{info.name}}</p>-->
<!--  <p>{{info.age_rating}}</p>-->
<!--</div>-->

<mat-card class="channel_card" (click)="getTodayTvShows()">
  <div class="channel_info">
    <img [src]="info.logo" alt="{{info.name + 'channel logo'}}">
    <span>{{info.name}}</span>
    <span>{{info.age_rating}}</span>
    <span>Rank: {{info.rank}}</span>
    <button mat-icon-button
            *ngIf="isLoggedIn$ | async"
            (click)="$event.stopPropagation();"
            (click)="pressFavoriteBtn()"
            [disabled]="isLoading$ | async">
      <mat-icon [style.color]="isFavoriteChannel ? 'gold' : 'black'">star_border</mat-icon>
    </button>
  </div>

  <div class="channel_tvshows" *ngIf="tvShowsFlag && (tvShows$ | async) as tvShows">
<!--    <mat-spinner *ngIf="!(tvShows$ | async)"></mat-spinner>-->
    <ng-container *ngFor="let tvShow of tvShows">
      <app-card-tvshow
        [tvshow]="tvShow"
        [countOnChild]="countOnChild"
        ></app-card-tvshow>
<!--      <p>{{tvShow | json}}</p>-->
    </ng-container>
    <button mat-button color="primary"
            (click)="goToChennel()"
            *ngIf="tvShows$ | async">Get more info</button>
  </div>
</mat-card>
