<!--<mat-spinner *ngIf="channel_info$"></mat-spinner>-->
<div class="wrapper">
  <div *ngIf="channel_info$ | async as channel_info">
    <div class="channel_header">
      <img class="channel_logo" [src]="channel_info.logo" [alt]="channel_info.name + ' channel logo'">
      <h1>{{channel_info.name}}</h1>
    </div>
    <div class="channel_content">
      <span>Rating: {{channel_info.rank}}</span>
      <span>Age rating: {{channel_info.age_rating}}</span>
    </div>
    <p>{{channel_info | json}}</p>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<!--<button mat-raised-button (click)="picker.open()">Open</button>-->
