.channel_header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 20px auto;
}

.channel_content {
  display: flex;
  flex-direction: column;
}

.tvshows {
  display: flex;
  justify-content: space-between;

  .tvshows_content {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
}

