@import "src/mixins";

header {
  font-family: "Gentium Book Basic";
  background-color: #E9E9E9;
  box-sizing: border-box;

  padding: 20px;

  .header-block {
    @include flexMixin;
    cursor: pointer;
  }

  .logo {
    font-size: xxx-large;
  }
}

.anchor {
  position: fixed;
  cursor: pointer;
  bottom: 3vh;
  right: 3vh;
}
