@import "src/mixins";

header {
  font-family: "Gentium Book Basic";
  background-color: #E9E9E9;
  box-sizing: border-box;

  padding: 20px;

  .header-block {
    @include flexMixin;
    cursor: pointer;
  }

  .logo {
    font-size: xxx-large;
  }

  nav {
    max-width: 200px;
    @include flexMixin;
    @include fontMediumBold;

    a {
      text-decoration: none;
      color: black;
      margin: 0 5px;
    }

    a:hover {
      border-bottom: #3847A0 solid 1px ;
    }
  }
}

.anchor {
  position: fixed;
  cursor: pointer;
  bottom: 3vh;
  right: 3vh;
}
