<div class="wrapper">
  <div class="channels">
    <h1>Channels</h1>

    <mat-chip-list  class="categories_chips" *ngIf="categoriesList$ | async">
      <div *ngFor="let category of categoriesList$ | async">
        <app-chips
          [category]="category"
          (selectedCategory)="changeCategory($event)"></app-chips>
      </div>
    </mat-chip-list>

        <mat-spinner *ngIf="isChannelsLoading$ | async"></mat-spinner>
        <div *ngIf="!(filteredChannelList$ | async)?.length && (isChannelsLoading$ | async) === false">
          Channels not found. Please, change channel category</div>

    <div *ngFor="let channel of (filteredChannelList$ | async)" >
      <app-channel-card [info]="channel"></app-channel-card>
    </div>
  </div>
</div>
