<div class="wrapper">
  <div class="channels">
    <h1>Channels</h1>

    <mat-chip-list  class="categories_chips" *ngIf="categoriesList$ | async">
      <ng-container *ngFor="let category of categoriesList$ | async">
        <app-chips
          [category]="category"
          (selectedCategory)="changeCategory($event)"></app-chips>
      </ng-container>
    </mat-chip-list>

        <mat-spinner *ngIf="isChannelsLoading$ | async"></mat-spinner>
        <ng-container *ngIf="!(filteredChannelList$ | async)?.length && !(isChannelsLoading$ | async)">
          Channels not found. Please, change channel category</ng-container>

    <ng-container *ngFor="let channel of (filteredChannelList$ | async)" >
      <app-channel-card [info]="channel"></app-channel-card>
    </ng-container>
  </div>
</div>
